<!DOCTYPE html>
<html>
    <head>
        <title> Assignment 3 Rails </title>
    </head>
    <body>
        <h1>Help</h1>
        <p>
        Learn Ruby on Rails for Assignment 3!
        </p>
    </body>
</thml>
